cover_db
MYMETA.*
META.yml
META.json
Makefile
blib
inc
pm_to_blib
MANIFEST
MANIFEST.bak
Makefile.old
nytprof*
ppport.h
xs/*c
xs/*o
xs/*obj
*.bs
*.def
*.old
dll*
*~
README
LICENSE
Build
_build/*
Makefile.PL
